@import '../../../components/NavBar.module.scss';
@import '../../../components/SideMenu.module.scss';
.content-wrapper {
  @apply w-full px-2;
  padding-top: $navbar-height;
  padding-left: $side-menu-width;
}
.content {
}
.tab-container {
  @apply ml-2 flex;
}
.tab-button {
  @apply cursor-pointer;
  margin: 0 6px;
  padding: 0 10px;
  background-color: $basic-background-color;
  border-radius: 8px;
  height: 32px;
  min-width: 12px;
  border: none;
  line-height: 200%;
  &:hover {
    background-color: $hover-background-color;
  }
  &[data-selected='true'] {
    background-color: black;
    color: white;
  }
}
