@import 'NavBar.module';
$side-menu-width: 240px;
.side-menu {
  @apply absolute;
  top: $navbar-height;
  width: $side-menu-width;
  height: calc(100vh - $navbar-height);
}

.menu-container {
  @apply whitespace-nowrap px-3 rounded-xl flex items-center ml-2 mr-4 text-sm cursor-pointer;
  height: 40px;

  .icon-container {
    height: 24px;
    width: 24px;
    @apply mr-6;
  }
  &[data-selected='true'] {
    background-color: $basic-background-color;
  }
  &:hover {
    background-color: $hover-background-color;
  }
}
